body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: monospace;
  font-size: 16px;
}

.main-content-ctn {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  height: 90vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border: 5px solid rgba(0,0,0,0.11);
  border-radius: 12px;
}

.navbar-ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2vh;
  height: 8vh;
  border: 5px solid rgba(0,0,0,0.11);
  border-radius: 12px;
}

.navbar-ctn-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-ctn-right {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.navbar-logo {
  margin-left: 14px;
  width: 40px;
  height: 40px;
  background-color: rgba(var(--tile_color),0.95);
  border-radius: 8px;
}

.navbar-link {
  margin: 6px;
  font-weight: bold;
}

.game-ctn {
  display: flex;
  flex-direction: column;
}

.game-tiles-ctn { 
  background: rgb(34,34,34);
  display: inline-block;
  border: 5px solid rgb(34,34,34);
  border-radius: 9px;
}

.footer {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2.5%;
}

.monospace {
  font-family: monospace;
}

.bold {
  font-weight: bold;
}

.link {
  color: slateblue;
  text-decoration: underline;
  cursor: pointer;
}