.game-tile-ctn {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 80px);
    grid-gap: 5px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.11);
}

.game-tile {
    background: rgba(var(--tile_color),0.75);
    width: 97.5%;
    height: 97.5%;
    margin: 1.25%;
    border-radius: 8px;
    cursor: pointer;
}

.game-start-btn {
    width: 50%;
    align-self: center;
    height: 32px;
    margin: 0;
    padding: 0;
    margin-top: 14px;
    margin-bottom: 14px;
    border-radius: 8px;
    border: 5px solid rgba(0,0,0,0.11);
    font-weight: bold;
    cursor: pointer;
}

.game-tile:hover {
    background-color: rgba(var(--tile_color), 0.95);
}

.game-tile:active {
    background-color: rgba(var(--tile_color), 0.65);
}

.game-tile-click-correct {
    /* light purple border */
}

.game-tile-click-incorrect {
    /* red-ish border */
}

.tile-animate {
    background-image:none !important; 
    animation: tile-animation 1.25s ease-in-out;
}

@keyframes tile-animation {
    0% { background-color:  rgb(var(--tile_color)) }
    33% { background-color: rgb(var(--tile_color_hint)) }
    66% { background-color: rgb(var(--tile_color_hint)) }
    100% { background-color:  rgb(var(--tile_color)) }
}

.hidden {
    display: none;
}

.dark-mode {
    color-scheme: dark;
    background-color: rgb(var(--dark_mode_bg));
    border-color: rgb(var(--dark_mode_border));
    color: rgb(var(--dark_mode_text));
}